#include <zephyr/dt-bindings/gpio/nordic-nrf-gpio.h>
#include <dt-bindings/zmk/matrix_transform.h>
#include "torabo_tsuki_lp_layouts.dtsi"

/ {
    chosen {
        zmk,physical-layout = &physical_layout_xs;
        zmk,kscan = &kscan0;
        zmk,battery = &non_lipo_battery;
    };

    // 元のコードにあったリスナー定義を完全復活
    pointing_listener: pointing_listener {
        compatible = "zmk,input-listener";
        status = "disabled";
    };

    // 新設: XSサイズ (5x4) のレイアウト定義
    physical_layout_xs: physical_layout_xs {
        compatible = "zmk,physical-layout";
        display-name = "XS Layout (5x4 Split)";
        kscan = <&kscan0>;
        transform = <&size_xs_transform>;
    };

    // XS用マトリックス変換 (5x4)
    size_xs_transform: keymap_transform_3 {
        compatible = "zmk,matrix-transform";
        columns = <10>;
        rows = <4>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4)    RC(0,5) RC(0,6) RC(0,7) RC(0,8) RC(0,9)
            RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4)    RC(1,5) RC(1,6) RC(1,7) RC(1,8) RC(1,9)
            RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4)    RC(2,5) RC(2,6) RC(2,7) RC(2,8) RC(2,9)
            RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4)    RC(3,5) RC(3,6) RC(3,7) RC(3,8) RC(3,9)
        >;
    };

    // 既存トランスフォーム (Sサイズ)
    size_s_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <14>;
        rows = <4>;
        map = <
            RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)                 RC(1,12) RC(1,11) RC(1,10) RC(1,9) RC(1,8)
            RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5)                 RC(2,12) RC(2,11) RC(2,10) RC(2,9) RC(2,8)
            RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5) RC(3,6) RC(3,13) RC(3,12) RC(3,11) RC(3,10) RC(3,9) RC(3,8)
            RC(4,1) RC(4,2) RC(4,3) RC(4,4) RC(4,5) RC(4,6) RC(4,13) RC(4,12) RC(4,11) RC(4,10) RC(4,9) RC(4,8)
        >;
    };

    // BMP Boost仕様のピン指定 (P0.xx, P1.xx形式)
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        col-gpios
            = <&gpio0 23 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL0: P0.23 (Pin 10)
            , <&gpio1 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL1: P1.14 (Pin 16)
            , <&gpio1  0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL2: P1.00 (Pin 11)
            , <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL3: P1.15 (Pin 15)
            , <&gpio1  3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL4: P1.03 (Pin 12)
            , <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL5: P0.10 (Pin 14)
            , <&gpio0  9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL6: P0.09 (Pin 13)
            ;
        row-gpios
            = <&gpio0 21 (GPIO_ACTIVE_HIGH)> // ROW0: P0.21 (Label 21)
            , <&gpio0  5 (GPIO_ACTIVE_HIGH)> // ROW1: P0.05 (Pin 20)
            , <&gpio0  0 (GPIO_ACTIVE_HIGH)> // ROW2: P0.00 (Pin 19)
            , <&gpio0 30 (GPIO_ACTIVE_HIGH)> // ROW3: P0.30 (Pin 18)
            , <&gpio0  3 (GPIO_ACTIVE_HIGH)> // ROW4: P0.03 (Pin 17)
            ;
        wakeup-source;
    };

    // 元のコードにあった各ノードをすべて復活
    leds {
        compatible = "gpio-leds";
        status_led: status_led {
            gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>; // Label 8 (P0.08)
            label = "Status LED";
        };
    };

    status_led_device: status_led_device {
        compatible = "zmk,status-led";
        led = <&status_led>;
    };

    bootloader_trigger: bootloader_trigger {
        compatible = "zmk,cdc-acm-bootloader-trigger";
    };

    vbatt: vbatt {
        status = "disabled";
    };

    // BMP Boost用の非リポ電池管理 (AIN4を使用)
    non_lipo_battery: non_lipo_battery {
        compatible = "zmk,non-lipo-battery";
        io-channels = <&adc 4>;
    };
};

// BMP Boostドキュメント推奨のSPI設定を復活・維持
&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 17)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 21)>,
                    <NRF_PSEL(SPIM_MISO, 0, 21)>;
        };
    };
    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 17)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 21)>,
                    <NRF_PSEL(SPIM_MISO, 0, 21)>;
            low-power-enable;
        };
    };
};

// 既存のレイアウトノードへの参照を維持
&physical_layout_s {
    kscan = <&kscan0>;
    transform = <&size_s_transform>;
};

&physical_layout_m {
    kscan = <&kscan0>;
    transform = <&size_m_transform>;
};

&physical_layout_l {
    kscan = <&kscan0>;
    transform = <&size_l_transform>;
};
